.about-heading{
    @apply text-2xl
}

.p-tag{
    padding : 50px;
 
}

.abc {
    @apply about-heading;
    @apply p-tag;
}

.p-temp{
    color: theme(colors.blue);
    color : theme(colors.blue-500);
    color: theme(colors.red.200);
    padding: theme(space.150);
    font-family: theme(fontFamily.sans);
    font-family: theme(fontFamily.sans);
    padding: theme(spacing.[2.5]);
}

/* @media screen(sm) {
    } */

/* display:grid;
grid-template-columns:100px 200px
grid-template-rows: repeat(2,50px) 
grid-auto-rows: 100px  */

  