.about-heading{
    @apply text-2xl
}

.p-tag{
    padding : 50px;
 
}

.abc {
    @apply about-heading;
    @apply p-tag;
    background-position: top left;
}

.p-temp{
    color: theme(colors.blue);
    color : theme(colors.blue-500);
    color: theme(colors.red.200);
    padding: theme(space.150);
    font-family: theme(fontFamily.sans);
    font-family: theme(fontFamily.sans);
    padding: theme(spacing.[2.5]);
}

/* @media screen(sm) {
    } */

/* display:grid;
grid-template-columns:100px 200px
grid-template-rows: repeat(2,50px) 
grid-auto-rows: 100px  */

/* button{
    all: unset;
} */

@keyframes ringing_bell {
    0%,100% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
}


.animate-class{
    animation: ringing_bell 5s ease-in-out  ;


}

p[data-type="primary"]{
    color:pink;
}

#id1{
    color:red
}

/* .text_shadow{
    text-shadow: 1px 1px blue;
} */

.calculate_width{
    width: calc(100vw - 100px);
}

.child_selector li:nth-child(2){
    color:pink
}

.child_li:is(:hover,:active){
    color:green;
}

/* @media (min-width:640px){
    .text_shadow{
        text-shadow: 1px 1px blue;
    }
} */

@media screen(sm){
    .text_shadow{
        text-shadow: 1px 1px blue;
    }
}
